/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
@media(max-width:600px){
    ul.wsp-pages-list li{
        text-align: left!important;
    }
    .number-footer{
        display: inline-block;
    }
}